.start {
    display: flex;
    align-self:center;
    justify-content: center;
    background-color: green;
    height: 25%;
    min-width: 35%;
    border: blue 2px solid;
    font-size: 2rem;
}

.restart {
    display: flex;
    align-self:center;
    background-color: green;
    height: 25%;
    min-width: 35%;
    border: red .2em solid
}